* {
  background: #218c74;
}

h2 {
  text-align: center;
  color: whitesmoke;
}

.wrapper {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 45% 10% 45%;
  gap: 10px;
  width: 98vw;
  height: 98vh;
}

.item {
  background: transparent;
  padding: 10px;
}

.item:nth-child(2) {
  align-self: center;
  text-align: center;
}

.icon {
  fill: whitesmoke;
  font-size: 60px;
  cursor: pointer;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;      
  background: #d1ccc0;
  border: none;
  padding: 10px;
  font-size: 18px;
  font-family: arial;
  border-radius: 4px;
}

.hold_plot {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;      
  background: #d1ccc0;
  border: none;
  padding: 10px;
  border-radius: 4px;
}