.barchart_wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 100%;
    background: transparent;
}

.barchart_item {
    position: relative;
    background: transparent;
    text-align: center;
}

#bar_1, #bar_2, #bar_3, #bar_4 {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    background: #ffda79;
}